# dependencies
/node_modules


# misc
.DS_Store
.idea/

src/

.git
.storybook
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
babel.config.js
jest.config.js
LICENSE
package.json
package-lock.json
rollup.config.js
tsconfig.json
